<html>

<head>
  <title>会议即将开始</title>
</head>

<body>
  <h1>会议即将开始提醒</h1>
  <p>尊敬的 {{userName}}，</p>
  <p>您预订的会议即将开始，请准时参加。</p>
  <ul>
    <li>会议室：{{roomName}}</li>
    <li>会议地点：{{location}}</li>
    <li>会议时间：{{time}}</li>
    <li>会议时长：{{duration}}</li>
  </ul>
  <p>祝会议顺利！</p>
</body>

</html>
